body {
    margin: 0 auto;
    background-color: #F9E5D8;
    font-family: 微軟正黑體;
}

main {
    margin: 20px 40px 40px 40px;
}

li {
    display: inline-block;
}

.title1 {
    background-color: #FCD5CE;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    border-radius: 40px;
}

li a {
    line-height: 60px;
    padding: 0 100px;
    text-decoration: none;
    color: black;
}

li a:hover {
    color: white;
    background-color: #FFB5A7;
    padding: 15px 100px;
}

.title {
    background-color: #F9DCC4;
    width: 100%;
    font-size: 40px;
    font-weight: bolder;
    line-height: 80px;
    text-align: center;
    border-radius: 40px;
}

.detail {
    background-color: #FFB5A7;
    color: #fff;
    border-radius: 15px;
    border: 2px white solid;
    font-size: 15px;
    padding: 5px;
    font-weight: bolder;

}

.detail:hover {
    color: #FFB5A7;
    background-color: #fff;
    border: 2px #FFB5A7 solid;
}

.section-type {
    margin: 30px 0 0 0;
}

section {
    margin: 100px 0 0 0;
}

.ponde {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product {
    background-color: #FCD5CE;
    padding: 20px;
    border-radius: 20px;
    margin: 40px 40px 0 40px;
    text-align: center;
    line-height: 30px;
	display: block;
}

.product img {
    height: 200px;
    border-radius: 20px;
}

/* 購物側邊欄 */
/* 移除按鈕的預設樣式 */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #F8EDEB;
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
}

#sidebar.open {
    left: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.car {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #F8EDEB;
    z-index: 9999;
}

.sideimg {
    width: 150px;
}

.bottom-links {

    bottom: 10px;
    width: 100%;
    text-align: center;
}

.bottom-links a {
    display: block;
    margin-bottom: 5px;
}

/* 購物側邊欄 */

/* 頂端按鈕 */
#btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}