* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #F9E5D8;
    font-family: "微軟正黑體";
}

h2 {
    margin: 30px;
}

.check-center {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #F8EDEB;
    text-align: center;
    width: 48%;
    height: 790px;
    border-radius: 30px;
}

.table-center {
    display: flex;
    justify-content: center;
}

table {
    background-color: white;
    width: 80%;
    height: 550px;
    text-align: center;
    border-collapse: collapse;
}

.first-none {
    border-bottom: 1px black solid;
    width: 45%;
}

.first-name {
    border-bottom: 1px black solid;
    height: 55px;
    width: 35%;
}

.first-count {
    border-bottom: 1px black solid;
    height: 55px;
    width: 19.5%;
}

td img {
    width: 200px;
    height: 154px;
}

.items {
    font-weight: bold;
    font-size: 18px;
}

.total {
    border-top: 1px black solid;
    font-weight: bold;
    font-size: 22px;
    height: 70px;
}

/*radio設定*/
#radio-btn input[type="radio"] {
    display: none; 
}

#radio-btn input:checked + .button {
    background-color:#FEC89A;
    color: black;
    cursor: grabbing;
}

#radio-btn .button {
    background-color: #F9DCC4;
    color: black;
    font-size: 16px;
    padding: 10px 50px;
}

#radio-btn .button:hover {
    border: dashed 2px #F9DCC4;
    background-color: white;
    color: black;
    cursor: grab;
}

#radio-btn .round {
    border-radius: 40px;
}
/*radio設定*/

.btn-center {
    display: flex;
    justify-content: space-around;
}

.goshopping input {
    width: 200px;
    height: 45px;
    border: 0;
    border-radius: 15px;
    background-color: #FEC89A;
    font-size: 17px;
    box-shadow: 0 5px 2px gray;
    display: inline-block;
} 

.checkout input {
    width: 250px;
    height: 45px;
    border: 0;
    border-radius: 15px;
    background-color: #FCD5CE;
    font-size: 18px;
    box-shadow: 0 5px 3px gray;
    display: inline-block;
} 

.goshopping input:hover {
    width: 220px;
    height: 48px;
    font-size: 21px;
}

.checkout input:hover {
    width: 270px;
    height: 48px;
    font-size: 22px;
} 
