body {
    background-image: url("../image/back.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0px;
}

header {
    background-color: #FEC89A;
    text-align: center;
    top: 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding-top: 10px;
    color: #F8EDEB;
    font-size: 70px;
    font-family: 'Rubik Puddles', cursive;
    font-weight: bolder;
}

header img {
    height: 100px;
    float: left;
    padding-left: 10px;
    margin: 0 auto;
    position: absolute;
    left: 10px;
    top: 10px;
}

nav {
    background-color: #FEC89A;
    font-size: 20px;
    text-align: center;
    height: 20px;
    word-spacing: 25px;
    padding: 10px;
    font-family: 'Abril Fatface', cursive;
    color: #F8EDEB;
}

nav a {
    color: #F8EDEB;
    text-decoration: none;
}

.item {
    position: absolute;
    top: 75px;
    right: 30px;
}

.nav {
    float: none;
}

nav img {
    height: 35px;
    margin-left: 10px;
}

main {
    margin: 50px;
    font-family: 微軟正黑體;
}

.left {
    float: left;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.slogan {
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 5px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.selbtn {
    background-color: #FFB5A7;
    color: #fff;
    border-radius: 45px;
    border: 2px #FFB5A7 solid;
    font-size: 50px;
    width: 270px;
    height: 80px;
    padding: 5px;
}

.selbtn:hover {
    color: #FFB5A7;
    background-color: #fff;
    border: 2px #FFB5A7 solid;
}

.right {
    float: right;
    text-align: center;
    height: 100%;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 400px;
    border-radius: 50%;
    margin: 0px auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: #FEC89A;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 100px;
    border-radius: 3px 0 0 3px;
}

.prev {
    right: 550px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: white;
    background-color: #FEC89A;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*
footer {
    text-align: center;
    height: 50px;
    width: 100%;
    font-size: 20px;
    margin: 0;
    background-color: #FCD5CE;
    position: absolute;
    bottom: 0px;
}
*/

ul {
    /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.drop-down-menu {
    display: inline-block;
}

ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
    padding: 0 10px 0 10px;
}

ul.drop-down-menu>li {
    float: left;
    /* 只有第一層是靠左對齊*/
}

.list1 {
    font-family: 'Abril Fatface', '微軟正黑體';
    color: #F8EDEB;
    background-color: #FEC89A;
    font-size: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
    line-height: 20px;
}

.list2 {
    font-family: 微軟正黑體;
    color: #F8EDEB;
    background-color: #FEC89A;
    font-size: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
    line-height: 40px;
    font-weight: bolder;
}

ul.drop-down-menu a:hover {
    /* 滑鼠滑入按鈕變色*/
    color: #FEC89A;
    background-color: #F8EDEB;
    border-radius: 15px;
    padding: 0 10px 0 10px;
}

ul.drop-down-menu li:hover>a {
    /* 滑鼠移入次選單上層按鈕保持變色*/
    color: #FEC89A;
    background-color: #F8EDEB;
    border-radius: 15px;
    padding: 0 10px 0 10px;
}

ul.drop-down-menu ul {
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    width: 180px;
    padding: 10px;
}

ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}

ul.drop-down-menu ul {
    /*隱藏次選單*/
    display: none;
}

ul.drop-down-menu li:hover>ul {
    /* 滑鼠滑入展開次選單*/
    display: block;
}

/* 購物側邊欄 */
/* 移除按鈕的預設樣式 */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #F8EDEB;
    transition: left 0.3s ease-in-out;
}

#sidebar.open {
    left: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.sideimg {
    width: 150px;
}

.bottom-links {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.bottom-links a {
    display: block;
    margin-bottom: 5px;
} 
/* 購物側邊欄 */

/* events 、 廣告 */
button {
    background: none;
    border: none;/* 移除按鈕的預設樣式 */
}

footer button {
    text-align: center;
    line-height: 0;
    height: 60px;
    width: 100%;
    font-size: 22px;
    margin: 0;
    background-color: #FCD5CE;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.dragon {
    font-size: 20px;
    color: #006B37;
    text-align: center;
    font-family: 微軟正黑體;
}

dialog{
    border: none;
    width: 460px;
    height: 460px;
}

dialog::backdrop {
    width: 1100px;
    height: 735px;
    background-image: url("../image/dragon.png");
    background-size: cover;
    display: block;
    margin: auto;
}

#eve a {
    outline: none;
    cursor:e-resize;
}

#eve img:hover {
    transform: scale(1.2,1.2);
}
#eve a:hover {
    background-color: white;
}

dialog button {
    background-color: #006B37;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/* events 、 廣告 */
