body {
    margin: 0px;
    background-image: url("../image/back.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

main {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    border-radius: 25px;
    background-color: #F8EDEB;
    font-family: "微軟正黑體";
    width: fit-content;
    padding: 20px 0;
    text-align: center;
}

.data {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.input {
    width: 300px;
    height: 40px;
    border: 0;
    border-radius: 40px;
    padding: 0 10px 0 20px;
}

.regbtn {
    margin: 30px 0 20px 0;
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 40px;
    background-color: #F9DCC4;
    font-size: 16px;
}

p {
    text-align: left;
}

h2 {
    text-align: center;
    padding: 0 0 10px 0;
}

h5 {
    text-align: center;
    color: #FFB5A7;
    padding: 10px 0 0 0;
}

h5 a {
    color: #FFB5A7;
    text-decoration: none;
}

h5 a:hover {
    font-size: larger;
    background-color: #F8EDEB;
    color: black;
}